.background {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
}

.hero_section {
  display: flex;
  align-items: center;
  background-color: #171d2e;
  color: white;
  height: 40em;
}

.container {
  padding: 0 6em;
}

.hero_section .heading {
  margin-bottom: 1em;
  font-size: 38px;
}

.hero_section .body {
  margin-bottom: 3em;
}

.hero_section .button {
  height: 4em;
  width: 18em;
}

.product {
  margin-top: -220px;
}

.call_to_action {
  display: flex;
  align-items: center;
  background-color: #171d2e;
  color: white;
  margin-top: -150px;
}

.container {
  padding: 0 6em;
}

.call_to_action .heading {
  margin-bottom: 1em;
  font-size: 38px;
}

.call_to_action  .body {
  margin-bottom: 3em;
}

.call_to_action  .button {
  height: 4em;
  width: 18em;
}

@media (max-width: 640px) {
  .hero_section {
    height: 60em;
  }

  .call_to_action {
    margin-top: -50px;
    padding-top: 4em;
  }

  .product {
    margin-top: -160px;
  }
  
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
